@font-face {
  font-family: "cascadiacode";
  src: url(../fonts/CascadiaCode.ttf);
}

@font-face {
  font-family: "poppins-light";
  src: url(../fonts/Poppins-Light.ttf);
}

:root {
  --blue: #00ccff;
  --green: #00fa9a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* BODY! */
body {
  padding: 0;
  margin: 0;
  max-height: 100vh;
  max-width: 100vw;
  display: grid;
  justify-items: center;
}

/* NAVBAR! */
.navbar {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 20px;
  background-color: rgb(230, 241, 255);
  border-bottom: 5px solid rgb(0, 110, 255);
  padding: 10px;
}

.navbar a {
  text-decoration: none;
  font-family: poppins-light;
  color: #000;
  margin: 20px;
}

.social-links svg {
  width: 35px;
  height: 35px;
}

.navigation-links:hover {
  text-decoration: 1.5px double underline rgb(104, 170, 255);
}

/* INTRO! */
.intro {
  display: grid;
  grid-template-columns: 1fr 500px;
  padding: 50px;
  grid-gap: 50px;
  justify-items: center;
  align-items: center;
}

.intro h1 {
  font-family: cascadiacode;
  font-weight: bolder;
  font-size: 4rem;
}

.intro h2 {
  font-family: cascadiacode;
  font-size: 3rem;
}

.intro p {
  font-family: poppins-light;
  font-weight: 500;
  font-size: 2rem;
}

.intro img {
  width: 500px;
  border-radius: 3%;
  border: 5px solid var(--blue);
}

.intro img:hover {
  border-color: var(--green);
}
