@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/* VARIABLES! */
:root {
  /* colours */
  --first-color: #3664f4;
  --dark-color: #070d1f;
  --dark-color-alt: #282b3a;
  --white-color: #e6e7e9;

  /* fonts */
  --body-font: "Poppins", sans-serif;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  /* other */
  --header-height: 3rem;
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--dark-color-alt);
}

body::-webkit-scrollbar-thumb {
  background: var(--first-color);
}

body::-webkit-scrollbar-thumb:hover {
  background: #1d46c1;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 1.5rem;
}

/* HEADER! */
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1.5rem;
  background-color: var(--dark-color);
  z-index: var(--z-fixed);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: var(--normal-font-size);
  font-weight: 500;
  color: var(--white-color);
}

.header__toggle {
  font-size: 1.5rem;
  color: var(--white-color);
  cursor: pointer;
}

/*===== NAV =====*/
@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--dark-color);
    color: var(--white-color);
    width: 100%;
    height: 100vh;
    padding: 1.5rem 0;
    z-index: var(--z-fixed);
    transition: 0.5s;
  }
}

.nav__content {
  height: 100%;
  grid-template-rows: max-content 1fr max-content;
  row-gap: 2rem;
}

.nav__close {
  position: absolute;
  right: 1.5rem;
  font-size: 1.3rem;
  padding: 0.25rem;
  background-color: var(--dark-color-alt);
  border-radius: 50%;
  cursor: pointer;
}

.nav__img {
  display: flex;
  justify-content: center;
  padding-top: 0.25rem;
  margin-bottom: 0.8rem;
  width: 56px;
  height: 56px;
  background-color: var(--first-color);
  border-radius: 50%;
  overflow: hidden;
}

.nav__img img {
  width: 46px;
}

.nav__name {
  display: block;
  color: var(--white-color);
  cursor: default;
}

.nav__profesion {
  font-size: var(--small-font-size);
}

.nav__menu {
  align-self: center;
}

.nav__item {
  margin: 2.5rem 0;
}

.nav__link {
  color: var(--white-color);
  transition: linear 0.3s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__social {
  padding-top: 0.5rem;
}

.nav__social-icon {
  font-size: 1.4rem;
  color: var(--white-color);
  margin-right: 0.7rem;
  transition: linear 0.3s;
}

.nav__social-icon:hover {
  color: var(--first-color);
}

.show {
  left: 0;
}

.active {
  color: var(--first-color);
}

/* HOME! */
.home {
  margin-top: calc(var(--header-height) + 1rem);
  padding-top: 100px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 3fr 2fr;
}

.home__text {
  width: 80%;
  align-self: center;
  justify-self: end;
}

.home__image {
  align-self: center;
  width: 60%;
  border-radius: 50%;
  border: 5px solid rgb(119, 186, 245);
  transition: linear 0.3s;
}

.home__image:hover {
  border: 5px solid rgb(122, 255, 255);
}

.home__text h1 {
  margin: 0;
  font-weight: bolder;
  font-size: 5rem;
}

.home__text h2 {
  font-weight: 500;
  font-size: 2rem;
}

.home__text p {
  font-weight: 100;
  padding-right: 30px;
}

/* PROJECTS! */
.projects {
  margin-top: calc(var(--header-height) + 1rem);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.projects > * {
  width: 450px;
  background-color: #101b38;
  color: var(--white-color);
  margin: 25px;
  border: 1px solid var(--dark-color);
  box-shadow: 6px 5px 3px var(--dark-color);
}

.projects__image {
  min-height: 235px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: ease-in-out 0.3s;
}

.textscanner .projects__image {
  background-image: url(./../img/project_images/textscanner.PNG);
}

.heartdisease .projects__image {
  background-image: url(./../img/project_images/heartdisease.PNG);
}

.reconstruct .projects__image {
  background-image: url(./../img/project_images/reconstruct.PNG);
}

.angry__flappy__birds .projects__image {
  background-image: url(./../img/project_images/angryflappybirds.PNG);
}

.alieninvasion .projects__image {
  background-image: url(./../img/project_images/alieninvasion.PNG);
}

.calculator .projects__image {
  background-image: url(./../img/project_images/calculator.PNG);
}

.command__line__helper .projects__image {
  background-image: url(./../img/project_images/commandlinehelper.png);
}

.projects__image:hover {
  filter: contrast(50%);
  cursor: pointer;
}

.projects__text {
  padding: 10px 20px;
}

.projects__title {
  font-weight: lighter;
}

.projects__subtitle {
  font-size: var(--small-font-size);
}

.projects__tools {
  font-size: var(--small-font-size);
  color: var(--first-color);
}

.projects__links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  border-top: 1px solid var(--white-color);
}

.link {
  color: var(--white-color);
  padding: 10px 0;
  transition: linear 0.3s;
}

.link:hover {
  background-color: var(--first-color);
}

.first {
  border-right: 1px solid var(--white-color);
}

.command__line__helper .projects__links,
.alieninvasion .projects__links {
  grid-template-columns: 1fr;
}

/* MEDIA QUERY! */

@media (min-width: 1504px) {
  .calculator__break {
    display: none;
  }
}

@media (max-width: 1003.5px) {
  .calculator__break {
    display: none;
  }
}

@media (max-width: 1200px) {
  .home__text h1 {
    font-size: 3rem;
  }

  .home__text h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 1100px) {
  .home__image {
    width: 70%;
  }
}

@media (max-width: 750px) {
  .home {
    display: block;
    padding: 30px;
    margin: 0;
    text-align: center;
  }

  .home__text {
    width: 100%;
  }

  .home__text h2 {
    font-size: 1.5 rem;
  }

  .home__text h3 {
    font-size: 0.5rem;
  }

  .home__image {
    margin-top: 20px;
    width: 250px;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .header {
    height: calc(var(--header-height) + 1rem);
  }
  .header__logo,
  .header__toggle {
    display: none;
  }
  .nav {
    width: 100%;
  }
  .nav__content {
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: 1fr;
    column-gap: 1rem;
    justify-content: space-between;
  }
  .nav__close,
  .nav__profesion {
    display: none;
  }
  .nav__perfil {
    display: flex;
    align-items: center;
  }
  .nav__img {
    width: 32px;
    height: 32px;
    margin-right: 0.5rem;
    margin-bottom: 0;
    align-items: center;
  }
  .nav__img img {
    width: 26px;
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    margin: 0 0.25rem;
  }
  .nav__link {
    padding: 0.5rem 0.8rem;
    border-radius: 0.25rem;
  }
  .nav__link:hover {
    color: var(--white-color);
    background-color: var(--first-color);
  }
  .active {
    background-color: var(--first-color);
    color: var(--white-color);
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}
